/*mobile*/
@media only screen and (min-width: 100px) and (max-width: 400px) {
	a.brand-logo {
	padding-left: 0;
	}

	.homeicons {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
}
/*mobile end*/

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 990px) {
	a.brand-logo {
		padding-left: 0;
	}

	.homeicons {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
} 
/*tablet end*/

/*large displays*/
@media only screen and (min-width: 990px) {
	a.brand-logo {
	padding-left: 50px;
    }

    .midcontainer1 {
    	display: table;
    	width: 100%;
    }

    .texticon {
    	display: table-cell;
    	padding: 16px;
    }

	.homeicons {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
}
/*large displays end*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

header,
main div h4,
.brand-logo,
.subscribe,
.toparticles,
.admininfotext {
	font-family: 'Fjalla One', sans-serif;
}

/*NAV START*/

/*.btn-small {
    height: 30px;
    line-height: 29px;
    padding: 0 0.5rem;
    font-size: 20px;
}*/

nav ul li a {
	font-size: 20px;
}

nav ul li.active,
.side-nav li.active {
	background: #7cb342;
}

nav ul li a:hover {
	background-color: #b71c1c;
}

/*NAV END*/

/*MAIN START*/

main hr {
	margin: 50px 0;
}

.side-nav {
	width: 200px;
}

.searchbar,
#search {
	padding: 0;
	margin: 0;
	border: 0;
}

.author_box,
.subscribe_box,
.admininfobox,
.admininfotext,
.toparticles_box {
	padding: 10px;
}

i.tiny.search_icon.material-icons {
	display: block;
	vertical-align: middle;
	color: black;
	margin-top: 8px;
}

.author_views,
.author_icon,
.author_clock,
.author_folder,
.author_comment {
	display: block;
	vertical-align: middle;
	margin: 0 5px;
}

.toparticles {
	padding: 5px;
}

.articlelink {
	color: #b71c1c;
	font-size: 17px;
}

.articledate {
	margin: 0;
	font-size: 12px;
}

/*MAIN END*/

.sliderRow {
	margin-bottom: 10px;
}

.midcontainerRow {
	margin-top: 0;
	margin-bottom: 0;
}

.midcontainer1 h5 {
	margin-top: 0;
}

/*FOOTER START*/

footer li {
 list-style: none;
 display: inline;
}

footer li a {
	color: white;
	margin-right: 5px;
}

footer p {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 10px;
}
/*FOOTER END*/

.carousel-item > img {
	max-width: 100%;
}

footer {
	max-height: 100%;
}